body {
  font-family: "Arial", sans-serif;
  color: olive;
}

h1 {
  font-size: 24px;
  color: olive;
}

#review-list h2 {
  color: olive;
}

.review-item h3 {
  color: olive;
}

.review-item p {
  color: olive;
}

button {
  background-color: olive;
}

button:hover {
  background-color: darkolivegreen;
}